@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl-300.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl-500.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl-700.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Museo Sans";
  src: url("../fonts/MuseoSansCyrl-900.woff");
  font-weight: 900;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 96px;
  background: #ffffff;
  font-family: "Museo Sans", Helvetica, Arial, sans-serif;
  color: #010101;
  line-height: 1.2;
}

.c-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 80;
  }
  &__row {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    img,
    svg {
      display: block;
      max-width: 220px;
      max-height: 80px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__text {
    display: block;
    margin: 0 0 0 45px;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
  }
  &__phone {
    display: inline-flex;
    align-items: center;
    margin: 0 45px 0 0;
    color: #010101;
    font-size: 30px;
    font-weight: 500;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 15px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #d35143;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 16px 40px;
    border-radius: 5px;
    border: 1px solid #d35143;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #d35143;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.c-top {
  display: block;
  padding: 90px 0 115px 0;
  background: url("../images/top_bg.jpg") no-repeat center center;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #010101;
    font-size: 50px;
    font-weight: 700;
  }
  &__subtitle {
    display: block;
    margin: 0 0 40px 0;
    color: #010101;
    font-size: 30px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__phone {
    display: block;
    margin: 100px 0 0 0;
    color: #d35143;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #010101;
      text-decoration: none;
    }
  }
}

.c-go {
  display: block;
  padding: 62px 0;
  background: url("../images/go_bg_alt.png") no-repeat center top 50px;
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 25px auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 82px;
      height: 82px;
      border-radius: 999rem;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      text-align: center;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 36px 0 18px 0;
      color: #d35143;
      font-size: 30px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: 0;
      color: #010101;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

.c-now {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px;
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #010101;
    font-size: 45px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__phone {
    display: block;
    margin: 7px 0 10px 0;
    color: #d35143;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #010101;
      text-decoration: none;
    }
  }
  &__checked {
    display: block;
    position: relative;
    margin: 26px 0 0 0;
    padding: 0 0 0 44px;
    background: url("../images/icon_checked.png") no-repeat 0 0;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-left: 30px;
    border-left: 1px solid #cacaca;
  }
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 160px;
      img,
      svg {
        display: block;
        max-width: 70px;
        max-height: 70px;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #010101;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.c-about {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 100px 0 80px 0;
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #010101;
    font-size: 45px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 45px 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__info {
    display: block;
    margin: 0 0 50px 0;
    color: #010101;
    font-size: 14px;
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-top: 55px;
  }
  &__subinfo {
    display: block;
    margin: 0;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #d35143;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #d35143;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__papers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-paper {
    display: block;
    margin: 0 auto 5px auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 135px;
      height: 200px;
      border-radius: 10px;
      background-color: rgba(211, 81, 67, 0.7);
      opacity: 0;
      transition: all 0.2s ease-out;
      img,
      svg {
        display: block;
        max-width: 60px;
        max-height: 60px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .c-about-paper__content {
        opacity: 1;
      }
      transform: scale(1.1);
      text-decoration: none;
    }
  }
  &__cards {
    display: block;
    position: relative;
    width: 520px;
    padding: 0 10px 40px 10px;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    &__image {
      display: block;
      width: 100%;
      height: 414px;
      border-radius: 10px;
      background-color: #dedede;
      background-position: center center;
      background-size: cover;
    }
    &__text {
      display: block;
      position: relative;
      width: 450px;
      height: 148px;
      overflow: hidden;
      margin: -70px 0 0 35px;
      padding: 26px 45px 26px 85px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      background: #ffffff url("../images/icon_place.png") no-repeat 30px 30px;
      color: #010101;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      z-index: 5;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 180px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #d35143;
    background-color: #ffffff;
    margin-top: 0;
    transform: none;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background-color: #d35143;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}

.c-reviews {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 250px 0 100px 0;
  background: url("../images/reviews_bg.png") no-repeat center top;
  &__cards {
    display: block;
    position: relative;
    overflow: visible !important;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 45px 50px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    &__name {
      display: block;
      margin: 0 0 22px 0;
      color: #010101;
      font-size: 20px;
      font-weight: 700;
    }
    &__date {
      display: block;
      margin: 0;
      color: #010101;
      font-size: 16px;
      font-weight: 300;
    }
    &__from {
      display: flex;
      align-items: center;
      position: relative;
      padding-top: 95px;
      color: #cacaca;
      font-size: 16px;
      font-weight: 300;
      img,
      svg {
        display: inline-block;
        max-width: 80px;
        max-height: 50px;
        margin-left: 10px;
      }
    }
    &__text {
      display: block;
      height: 192px;
      overflow: hidden;
      margin: 0;
      color: #010101;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
  }
  &__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    padding-top: 35px;
    color: #d35143;
    font-size: 18px;
    font-weight: 500;
    img,
    svg {
      display: inline-block;
      position: relative;
      margin-left: 15px;
      margin-top: -3px;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #d35143;
    background-color: #ffffff;
    margin-top: 0;
    transform: none;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background-color: #d35143;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 110px;
  }
  .swiper-button-next {
    left: auto;
    right: 50px;
  }
}

.c-prices {
  display: block;
  position: relative;
  padding: 90px 0 30px 0;
  background-color: #efefef;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #010101;
    font-size: 45px;
    font-weight: 700;
  }
  &__content {
    display: block;
    position: relative;
    padding: 30px 30px 8px 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  &__what {
    display: block;
    margin: 0 0 5px 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__subtitle {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 40px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 12px 0;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
  }
  &__light {
    display: block;
    margin: 0;
    color: #cacaca;
    font-size: 16px;
    font-weight: 300;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin: 0 0 22px 0;
  }
  &__subtext {
    display: inline-block;
    margin: 0;
    color: #cacaca;
    font-size: 16px;
    font-weight: 300;
  }
  &__price {
    display: inline-block;
    margin: 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #010101;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #d35143;
      text-decoration: none;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 30px auto 0 auto;
    padding: 30px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
    &__what {
      display: block;
      margin: 0 0 5px 0;
      color: #010101;
      font-size: 20px;
      font-weight: 300;
    }
    &__title {
      display: block;
      margin: 0 0 30px 0;
      color: #d35143;
      font-size: 40px;
      font-weight: 700;
    }
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 0 20px 25px;
        color: #010101;
        font-size: 16px;
        font-weight: 300;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 8px;
          left: 0;
          width: 16px;
          height: 2px;
          background-color: #d35143;
        }
      }
    }
    &__info {
      display: block;
      margin: 0;
      padding: 15px 0;
      color: #d35143;
      font-size: 16px;
      font-weight: 300;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      width: 100%;
      padding-top: 20px;
    }
    &__subtitle {
      display: inline-block;
      margin: 0;
      color: #cacaca;
      font-size: 16px;
      font-weight: 300;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #010101;
      font-size: 20px;
      font-weight: 300;
    }
    &__phone {
      display: inline-block;
      margin: 0;
      color: #010101;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #d35143;
        text-decoration: none;
      }
    }
    &_yellow {
      .c-prices-card__title {
        color: #e59639 !important;
      }
      .c-prices-card__info {
        color: #e59639 !important;
      }
      ul {
        li:before {
          background: #e59639 !important;
        }
      }
    }
    &_orange {
      .c-prices-card__title {
        color: #ec6820 !important;
      }
      .c-prices-card__info {
        color: #ec6820 !important;
      }
      ul {
        li:before {
          background: #ec6820 !important;
        }
      }
    }
  }
}

.c-qa {
  display: block;
  position: relative;
  padding: 30px 0 90px 0;
  background-color: #efefef;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #010101;
    font-size: 45px;
    font-weight: 700;
  }
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  &__content {
    display: none;
    align-items: center;
    position: relative;
    min-height: 100%;
    padding: 20px 120px;
    border-radius: 0 10px 10px 0;
    background: #ffffff;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    &.current {
      display: flex;
    }
  }
  &__tab {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px;
    background-color: #f7f7f7;
    border-radius: 10px 0 0 10px;
    &-mob {
      color: #a0a0a0;
      font-size: 20px;
      font-weight: 300;
    }
    &-content {
      display: none;
      padding: 12px 0 0 0;
      color: #010101;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
    }
    &.current {
      padding-left: 40px;
      background: #ffffff;
      color: #010101;
      font-weight: 500;
      &:before {
        display: block;
        position: absolute;
        content: "";
        left: 8px;
        top: 8px;
        width: 6px;
        height: calc(100% - 16px);
        border-radius: 3px;
        background-color: #d35143;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 100%;
        top: 0;
        width: 30px;
        height: 100%;
        background-color: #ffffff;
      }
    }
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #d35143;
      text-decoration: none;
    }
  }
}

.c-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 25px 0;
  &__logo {
    display: inline-block;
    img,
    svg {
      display: block;
      max-width: 220px;
      max-height: 80px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__info {
    display: inline-block;
    margin: 10px 0;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
  }
}

.c-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 50px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    padding: 20px;
    background: #ffffff;
    text-align: center;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #010101;
    font-size: 45px;
    font-weight: 700;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #010101;
    font-size: 20px;
    font-weight: 300;
  }
  &__label {
    display: block;
    margin: 0 0 3px 0;
    color: #010101;
    font-size: 14px;
    font-weight: 300;
  }
  input {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    background-color: #ffffff;
    color: #010101;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  &__info {
    display: block;
    margin: 20px 0 0 0;
    color: #cacaca;
    font-size: 14px;
    font-weight: 300;
  }
  &__button {
    display: inline-block;
    margin: 0;
    padding: 15px 85px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: #d35143;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ff8071;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.c-phone {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .c-about__cards {
    width: 100%;
  }
  .c-now-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .c-header__row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .c-header__text {
    margin: 10px 0;
    text-align: center;
  }
  .c-header__phone {
    margin: 0 0 5px 0;
  }
  .c-modal__close {
    padding: 10px;
  }
  .c-top {
    padding: 40px 0;
    background: #f6f6f6;
  }
  .c-top__title {
    font-size: 38px;
  }
  .c-go {
    padding: 20px 0;
    background: #ffffff;
  }
  .c-go-card__title {
    margin: 10px 0;
  }
  .c-now {
    padding: 20px;
  }
  .c-now__title {
    font-size: 38px;
  }
  .c-now__cards {
    align-items: center;
    padding: 0;
    border: 0;
  }
  .c-now-card__image {
    flex: 0 0 100px;
  }
  .c-now-card {
    margin: 30px auto 0 auto;
  }
  .c-about {
    padding: 30px 0;
  }
  .c-about-card__text {
    height: 200px;
    font-size: 14px;
  }
  .c-about__text {
    margin-bottom: 20px;
  }
  .c-about__info {
    margin-bottom: 20px;
  }
  .c-about__papers {
    justify-content: center;
    align-items: center;
  }
  .c-about__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .c-about__button {
    margin: 10px auto 0 auto;
  }
  .c-reviews-card {
    padding: 20px;
  }
  .c-reviews .swiper-button-next,
  .c-reviews .swiper-button-prev {
    top: -55px;
  }
  .c-reviews-card__from {
    padding: 20px 0;
  }
  .c-reviews {
    padding-bottom: 30px;
  }
  .c-reviews__info {
    font-size: 16px;
    img,
    svg {
      margin: 10px 0 0 0;
    }
  }
  .c-prices {
    padding: 30px 0;
  }
  .c-prices__title {
    margin: 0 0 20px 0;
    font-size: 38px;
  }
  .c-prices__light {
    margin: 20px 0;
  }
  .c-qa {
    padding: 30px 0;
  }
  .c-qa__title {
    margin: 0 0 20px 0;
    font-size: 38px;
  }
  .c-qa__tab {
    border-radius: 10px;
    padding: 10px 22px;
    br {
      display: none;
    }
    &:after {
      display: none !important;
    }
  }
  .c-qa__content {
    min-height: 300px;
    padding: 20px;
  }
  .c-footer {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 60px;
    text-align: center;
  }
  .c-header__phone {
    display: none;
  }
  .c-top {
    padding: 25px 0 320px 0;
    background: url("../images/mob_top.jpg") no-repeat center top;
    background-size: cover;
    text-align: center;
  }
  .c-top__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .c-top__subtitle {
    margin-bottom: 16px;
    font-size: 20px;
  }
  .c-top__phone {
    display: none;
  }
  .c-header__button {
    margin: 12px auto 0 auto;
    padding: 11px 27px;
  }
  .c-header__row {
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
  }
  .c-header__logo img,
  .c-header__logo svg {
    max-width: 150px;
    margin-right: 10px;
  }
  .c-header__text {
    max-width: 125px;
    margin: 0;
    font-size: 14px;
    text-align: left;
  }
  .c-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #d35143;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    z-index: 9;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 15px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .c-go__cards {
    background: url("../images/go_bg_mob.png") no-repeat left top;
  }
  .c-go-card {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0 38px 4px;
    &_1 {
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 100%;
        left: 30px;
        width: 21px;
        height: 25px;
        margin-top: 8px;
        background: url("../images/arrow_down.png") no-repeat center center;
        z-index: 3;
      }
    }
    &_2 {
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        top: 100%;
        left: 30px;
        width: 21px;
        height: 25px;
        margin-top: 8px;
        background: url("../images/arrow_down_yellow.png") no-repeat center center;
        z-index: 3;
      }
    }
    &__image {
      margin: 0 22px 0 0;
    }
    &__title {
      margin-bottom: 5px;
      font-size: 20px;
    }
    &__text {
      margin-bottom: 0px;
      font-size: 16px;
    }
  }
  .c-now-card {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    br {
      display: none;
    }
  }
  .c-about__cards {
    overflow: visible !important;
  }
  .c-qa__wrapper {
    background: transparent;
    box-shadow: none;
  }
  .c-qa__content {
    display: none !important;
  }
  .c-qa__tab {
    margin-bottom: 20px;
    padding: 18px 20px;
    box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
  }
  .c-qa__tab-mob {
    color: #010101;
    font-size: 20px;
    font-weight: 500;
  }
  .c-qa__tab.current:before {
    display: none;
  }
  .c-qa__tab:before {
    display: block;
    position: absolute;
    content: "";
    top: 20px;
    left: 10px;
    width: 2px;
    height: 17px;
    border-radius: 1px;
    background-color: #d35143;
  }
  .c-about-card__text {
    width: 100%;
    margin: -60px auto 30px auto;
  }
  .c-header_fixed {
    position: relative;
  }
  body {
    padding: 0;
  }
}
